---
layout: default
---

<h1>{{ page.categories }}</h1>

{% for category in site.categories %}
{% assign categ = category | first | slugize %}
  <h3 id="{{ categ }}">{{ categ }}</h3>
  <ul>
  {% for post in site.categories[categ] %}
  <li>
    {% for author in site.authors %}
      {% if author.short_name == post.author %}
         {% assign author_url = author.url | prepend:site.baseurl %}
         {% assign author_avatar = author.github | prepend: "http://github.com/" | append: ".png" %}
         {% assign post_url = post.url | prepend:site.baseurl %}
    <span>{{ post.date | date_to_string }}</span> &raquo; <span><a href="{{ author_url }}.html"><img src="{{ author_avatar}}" style="border-radius:8px;height:16px;margin-bottom:0;" /> {{ post.author }}</a></span> &raquo; <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
      {% endif %}
    {% endfor %}
    </li>
  {% endfor %}
  </ul>
{% endfor %}
